@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';
@source "./*.{html,js}";
@plugin "daisyui";

/* Baris-baris berikut dihapus karena bukan konfigurasi Tailwind CSS v4 atau DaisyUI yang valid di CSS. */
/* Jalur konten Tailwind CSS dan konfigurasi plugin DaisyUI harus berada di tailwind.config.js */
@custom-variant dark (&:where(.dark, .dark *));
.navbar-fixed {
  @apply fixed z-[9999] backdrop-blur-sm dark:bg-slate-900/50;
  background-color: rgba(255, 255, 255, 0.7)z;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }

  .hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-slate-900 dark:bg-white;

  }
.hamburger-active > span:nth-child(1) {
  @apply  rotate-45; 
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply  -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;

}